:root {
    --primary-color: #0a0d14;
    --primary-color-light: #20242f;
    --secondary-color: #f49e09;
    --extra-light: rgba(255, 255, 255, 0.5);
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Lisu Bosa", serif;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
}
header {
    background-image: linear-gradient(to top, var(--primary-color), transparent),
      url("../../assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid var(--extra-light);
}
.nav__bar {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
} 
.nav__logo a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}
.nav__links {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.link a {
    color: var(--white);
    font-weight: 500;
    transition: 0.3s;
    padding: 1.55rem 5px;
}
.link a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
.link span{
    color: var(--white);
    cursor: pointer;
    padding: 1rem 0;
}
.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.header__container {
    padding: 12rem 1rem;
}
.header__container h1 {
    margin-bottom: 1rem;
    max-width: 700px;
    font-size: 4rem;
    font-family: var(--header-font);
}
.header__container h4 {
    position: relative;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}
.header__container h4::after {  
    content: "";
    position: absolute;
    top: 50%;
    left: -2.5rem;
    transform: translateY(-50%);
    width: 2rem;
    height: 2px;
    background-color: var(--white);
}
.btn {
    background-color: var(--secondary-color);
    cursor: pointer;
    border: none;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    outline: none;
}
/* Section About */
.about_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  height: 100vh;
}
.about_container :is(.section__header, .section__subheader) {
  text-align:left;  
}
.about__flex {
  margin: 2rem 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--primary-color-light);
}
.about__card {
  flex: 1 1 150px;
  text-align: center;
  border-right: 2px solid var(--primary-color);
}
.about__card:last-child {
  border: none;
}
.about__card h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: var(--header-font);
  font-weight: 600;
}
.about__card p {
  font-size: .9rem;
}
.about__image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
/*Section Discover */
.discover {
  background-image: linear-gradient(to bottom, rgba(225,255,255,0.05)), transparent;
  height: 100vh;
}
/* Stiles section discover e blog */
.section__header{  
  text-align: center;
  font-family: var(--header-font);
  font-size: 3rem;
  margin: -5rem 0 1.3rem 0;
}
.section__subheader{  
  text-align: center;
  font-family: var(--header-font);
  margin-bottom: 2.1rem;
}
.discover__grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.discover__card {
  max-width: 320px;
  height: 400px; 
  margin: auto;
}
.discover__card:nth-child(2) {  
  transform: translateY(5rem);
}
.discover__image {
  position: relative;
}
.discover__image img {
  width: 100%;
  height: 370px; 
}
.discover__image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}
.discover__card__content {
  padding: 0.8rem 2rem;
}
.discover__card__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--secondary-color);
}
.discover__card__content p {
  margin-bottom: 2rem;
}
.discover__btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  cursor: pointer;
}
/* Blogs */
.blogs__container {
  margin-top: 12.5rem;
}
.section__header {
  text-align: center;
}
.blogs__grid {
  margin: 4rem 0 3rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.blogs__card {
  position: relative;
}
.blogs__card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.blogs__card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}
.blogs__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 1;
}
/* >>> Journals <<<< */
.journals__grid {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.journals__card .journals__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.journals__card .journals__content {
  background-color: var(--primary-color-light);
  padding: 2rem;
  margin-top: -7px;
}
.journals__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.journals__author {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.journals__content .journals__author .author {
  width: 40px;
  border-radius: 100%;
}
.journals__author p {
  font: .9rem;
  opacity: 0.75;
}
.journals__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.journals__footer p {
  font-size: .9rem;
  opacity: .5;
}
.journals__footer span a {
  font-size: 1.5rem;
  color: var(--white);
  opacity: 0.75;
}
.journals__btn {
  margin-top: 4rem;
  text-align: center;
}

  
  
 
  
 
  
  
  
